# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity_Basic_SciFi_Shooter.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
